/* 기본 스타일 설정 */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Rajdhani', 'Orbitron', sans-serif;
  cursor: crosshair;
}

* {
  box-sizing: border-box;
}
